@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');

label{
    color: white;
}

form {
    width: 500px;
    height: 70%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 15px;
    background: #343334;
    border-radius: 5%;
  }

 h1 {
    color: white;
    margin-top: 10px;
    margin-left: 38%;
  }

.title{
    color: white;
  margin-top: 10px;
  margin-left: 38%;
}

.register {
  font-size: 18px;
  color: #6a7dfe;
  line-height: 1.5;
  text-decoration: none;
}
